#RegisterContainer {
  max-width: 35rem;
  background-color: #414346;
  padding: 2rem;
  border-radius: 2rem;
}
.errorlist {
  color: rgb(241, 77, 77);
  font-weight: bolder;
  margin-bottom: 0px;
}
.registrationForm input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}
.registrationForm label {
  display: block;
}
#id_password1 {
  margin-top: -5px;
}
#id_last_name {
  margin-bottom: 3rem;
}
.registrationForm label {
  margin-top: 0.5rem;
  font-weight: bolder;
  text-decoration: underline;
}
.helptext {
  color: rgb(208, 202, 236);
}
.toolTip {
  padding-bottom: 30px;
}
.inputERR {
  background-color: #b83a3a;
}
